$blue: #2A3F58;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom:$bottom ;
}
.jumbotron{
    background-color:$blue;
    color: white;
    @include margenes(50px, 0px);
}

.footer{
    padding: 10px 10px 0 10px;
    background-color:blue;
    @include margenes(10px, 0px);
}

.card-clase{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    @include margenes(10px, 0px);
}
.btn-agenda{
    width:100%;
}


  .icon-box {
	padding: 2px;
	position: relative;
	overflow: hidden;
	margin: 0  0 40px 0;
	background: #F4F7F9;
	box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
	text-align: center;
	border: 1px solid #fff;
  }
  .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
  }

.footer-address-icon{
    padding-right: 10px;
}


.icon {
	margin: 0 auto 20px auto;
	padding-top: 17px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	width: 72px;
	height: 72px;
  }